{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
   

 


    <!-- Formulaire d’inscription -->

    {{ form_start(registrationForm, {'attr': {'class': 'sign'}}) }}

       <h1>S'inscrire</h1>

        {{ form_row(registrationForm.email, {'label': false, 'attr': {'placeholder': 'Email'}}) }}

        {{ form_row(registrationForm.username, {'label': false, 'attr': {'placeholder': 'Pseudo'}}) }}

        {{ form_row(registrationForm.plainPassword, {'label': false, 'attr': {'placeholder': 'Mot de passe'}}) }}

      <div class="agree-div">
        {{ form_row(registrationForm.agreeTerms) }}
      </div>

      <button type="submit" class="btn-signform">Je m'inscris</button>
    {{ form_end(registrationForm) }}

{% endblock %}